$main_color: #60bfe1;
$second_main_color: #00a7e5;
$color:#3694d7;
$timing:.3s;

body,html{
  margin: 0;
  padding: 0;
  font-family: 'Exo 2', sans-serif;
  overflow-x: hidden;
}
body{
  display: flex;
  flex-direction: column;
  height: 100vh;
}
p,span,a, input{
  font-weight: 400;
  font-size: 24px;
  text-decoration: none;
  color: #fff;
  margin: 0;
  padding: 0;
}
section.content{
  flex: 1 1 auto;
}
.rating-result{
  display: none;
}

header{
  .topNav{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background: #f68f30;
    a{
      padding-right: 40px;
      text-decoration: underline;
    }
    a:last-child{
      padding-right: 0;
    }
  }
  .headers{
    display: flex;
    align-items: center;
    height: 140px;
    background: $second_main_color;
    justify-content: space-around;
    .headers_logo{
      display: flex;
      align-self: flex-start;
      margin-top: 5px;
      a{
        width: 200px;
        height: 110px;
        display: flex;
        flex-direction: column;
        align-items: center;
        p{
          font-size: 20px;
        }
        img{
          width: 100%;
          height: 100%;
          margin: 0;
          padding: 0;
        }
      }
      
    }
    .headers_contacts{
      p{
        font-size: 22px;
      }
    }
    .headers_search{
      width: 30%;
      form{
        position: relative;
        input{
          height: 50px;
          width: 100%;
          background: #fff;
          border: none;
          padding-left: 20px;
          font-size: 16px;
        }
        button{
          position: absolute;
          height: 50px;
          width: 50px;
          background-color: #fff;
          border: none;
          border-left: 1px solid #000;
          right: 0;
        }
      }
    }
    .headers_input{
      a{
        margin-right: 40px;
      }
      a:last-child{
        margin-right: 0;
      }
    }    
  }
  .nav{
    width: 100%;
    display: flex;
    justify-content: center;
    .nav_wrap{
      position: relative;
      width: 90%;
      ul{
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid $second_main_color;
        border-radius: 30px;
        padding: 0;
        height: 70px;
        a{
          display: flex;
          align-items: center;
          justify-content: center;
          background: #fff;
          color: $main_color;
          border-right: 1px solid $main_color;
          -moz-border-radius-topleft: 30px;
          -webkit-border-top-left-radius: 30px;
          border-top-left-radius: 30px;
          -moz-border-radius-bottomleft: 30px;
          -webkit-border-bottom-left-radius: 30px;
          border-bottom-left-radius: 30px;
          list-style-type: none; 
          width: 13%;
          height: 100%;
          li{
            color: $main_color;
            font-size: 20px;
            text-align: center;
            width: 90%;
          }
        }
        a:last-child{
          border-right: none;
          -moz-border-radius-topright: 30px;
          -webkit-border-top-right-radius: 30px;
          border-top-right-radius: 30px;
          -moz-border-radius-bottomright: 30px;
          -webkit-border-bottom-right-radius: 30px;
          border-bottom-right-radius: 30px;
        }
        a:hover .nav_toogle_1{
          display: flex;
        }
      }
      .nav_toogle{
        display: none;
        position: absolute;
        top: 100px;
        left: 0;
        background: #fff;
        width: 100%;
        z-index: 999;
        .nt_wrap{
          display: flex;
          flex-wrap: wrap;
          width: 100%;
          .nt_box{
            display: flex;
            flex-direction: column;
            width: 25%;
            margin-bottom: 50px;
            img{
              width: 100px;
              height: 100px;
            }
            a{
              color: #000;
              margin-top: 10px;
            }
            a.nt_box_all{
              color: #a1b9d3;
              font-size: 22px;
            }
            a:hover{
              color: $second_main_color;
            }
          }
        }
      }
    }
  }
}

section.content{
  display: flex;
  flex-direction: column;
  align-items: center;
  .cont_wrap{
    width: 90%;
    p.title{
      font-weight: 700;
      font-size: 50px;
      align-self: center;
      margin-bottom: 60px;
      color: $second_main_color;
    }
    .slider{
      position: relative;
      display: flex;
      width: 100%;
      justify-content: center;
      .single-slide{
        width: 100%;
        img{
          width: 100%;
          height: fit-content;
          object-fit: contain;
        }
      }
      .slick_slider-arrow_first{
        position: absolute;
        bottom: 30px;
        width: 100%;
        .slick_left{
          position: absolute;
          opacity: 0.6;
          transition: 0.3s;
        }
        .slick_left:hover{
          opacity: 1;
          cursor: pointer;
        }
        .slick_right{
          position: absolute;
          opacity: 0.6;
          transition: 0.3s;
          right: 0;
        }
        .slick_right:hover{
          opacity: 1;
          cursor: pointer;
        }
      }
      .slick-dots li button:before{
        font-size: 65px;
        color: $second_main_color;
      }
    }
    .main_content{
      margin-top: 50px;
      border-top: 1px solid $main_color;
      padding-top: 50px;
      .mc_sort{
        display: flex;
        justify-content: space-between;
        form{
          display: flex;
          align-items: center;
          p{
            color: #000;
            font-size: 20px;
            margin-right: 20px;
          }
          .mcs_sort{
            display: flex;
            position: relative;
            margin-right: 20px;
            span.dropdown-el {
              width: 12em;
              position: absolute;
              display: inline-block;
              margin-right: 1em;
              min-height: 2em;
              max-height:2em;
              overflow:hidden;
              top: -12px;
              left: 100%;
              cursor: pointer;
              text-align: left;
              white-space: nowrap;
              color: #444;
              outline: none;
              border: .06em solid transparent;
              border-radius: 1em;
              background-color: mix($color,#fff,25%);
              z-index: 999;
              transition: $timing all ease-in-out;
              input:focus + label {
                background: #def;
              }
              input {
                width: 1px;
                height: 1px;
                display: inline-block;
                position: absolute;
                opacity: 0.01;
              }
              label {
                border-top: .06em solid #d9d9d9;
                display:block;
                font-size: 18px;
                height: 2.7em;
                line-height: 2.7em;
                padding-left: 1em;
                padding-right: 3em;
                cursor: pointer;
                position: relative;
                transition: $timing color ease-in-out;  
                &:nth-child(2) {
                  margin-top: 2em;
                  border-top: .06em solid #d9d9d9;
                }
                &:hover{
                  background: $main_color;
                }
              }
              input:checked + label {
                display:block;
                border-top: none;
                position: absolute;
                top: 0;
                width: 100%;
                &:nth-child(2) {
                  margin-top: 0;
                  position: relative;
                }
              }
              
              &::after {
                content:"";
                position: absolute;
                right: 0.8em;
                top: 0.9em;
                border: .3em solid $color;
                border-color: $color transparent transparent transparent;
                transition: .4s all ease-in-out;
              }
              &.expanded {
                border: .06em solid $color;
                background: #fff;
                border-radius: .25em;
                padding: 0;
                box-shadow: rgba(0, 0, 0, 0.1) 3px 3px 5px 0px;
                max-height:15em;
                
                label {
                  border-top: .06em solid #d9d9d9;
                  &:hover {
                    color:$color;
                  }
                }
                input:checked + label {
                  color:$color;
                }
                
                &::after {
                  transform: rotate(-180deg);
                  top:.55em;
                }
              }
            }
          }
        }
        form{
          .mcs_filter{
            position: relative;
            display: flex;
            span.dropdown-el2 {
              width: 12em;
              position: absolute;
              display: inline-block;
              margin-right: 1em;
              min-height: 2em;
              max-height:2em;
              overflow:hidden;
              top: -12px;
              left: 100%;
              cursor: pointer;
              text-align: left;
              white-space: nowrap;
              color: #444;
              outline: none;
              border: .06em solid transparent;
              border-radius: 1em;
              background-color: mix($color,#fff,25%);
              z-index: 999;
              transition: $timing all ease-in-out;
              input:focus + label {
                background: #def;
              }
              input {
                width: 1px;
                height: 1px;
                display: inline-block;
                position: absolute;
                opacity: 0.01;
              }
              label {
                border-top: .06em solid #d9d9d9;
                display:block;
                font-size: 18px;
                height: 2.7em;
                line-height: 2.7em;
                padding-left: 1em;
                padding-right: 3em;
                cursor: pointer;
                position: relative;
                transition: $timing color ease-in-out;
                transition: 0.3s;  
                &:nth-child(2) {
                  margin-top: 2em;
                  border-top: .06em solid #d9d9d9;
                }
                &:hover{
                  background: $main_color;
                }
              }
              input:checked + label {
                display:block;
                border-top: none;
                position: absolute;
                top: 0;
                width: 100%;
                &:nth-child(2) {
                  margin-top: 0;
                  position: relative;
                }
              }
              
              &::after {
                content:"";
                position: absolute;
                right: 0.8em;
                top: 0.9em;
                border: .3em solid $color;
                border-color: $color transparent transparent transparent;
                transition: .4s all ease-in-out;
              }
              &.expanded {
                border: .06em solid $color;
                background: #fff;
                border-radius: .25em;
                padding: 0;
                box-shadow: rgba(0, 0, 0, 0.1) 3px 3px 5px 0px;
                max-height:25em;
                
                label {
                  border-top: .06em solid #d9d9d9;
                  &:hover {
                    color:$color;
                  }
                }
                input:checked + label {
                  color:$color;
                }
                
                &::after {
                  transform: rotate(-180deg);
                  top:.55em;
                }
              }
            }
          }
        }
        .mcs_bg{
          display: flex;
          form{
            .for_boy{
              margin-right: 20px;
              input{
                display: none;
              }
              input:checked ~ label{
                background-color: $main_color;
                color: #fff;
              }
              label{
                background: #fff;
                color: #000;
                border: 1px solid $main_color;
                padding: 16px 30px;
                border-radius: 30px;
                margin-right: 20px;
              }
              label:hover{
                cursor: pointer;
              }
              label:last-child{
                margin-right: 0;
              }
            }
            .for_girl{
              input{
                display: none;
              }
              input:checked ~ label{
                background-color: $main_color;
                color: #fff;
              }
              label{
                background: #fff;
                color: #000;
                border: 1px solid $main_color;
                padding: 16px 30px;
                border-radius: 30px;
                margin-right: 20px;
              }
              label:hover{
                cursor: pointer;
              }
              label:last-child{
                margin-right: 0;
              }
            }
          }
        }
      }
      .mc_products{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 50px;
        .mcp_box{
          position: relative;
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 30%;
          border: 2px solid $second_main_color;
          border-radius: 30px;
          padding: 10px;
          margin-bottom: 20px;
          /* margin-right: 5px;
          margin-left: 5px; */
          img{
            width: 200px;
            height: 200px;
            margin-top: 20px;
          }
          hr{
            border: 1px solid $main_color;
            width: 80%;
            margin-bottom: 0;
          }
          .mcp_box_text{
            width: 90%;
            // background: #ccedfa;
            margin: 10px;
            padding: 10px;
            p{
              color: #000;
            }
            p.title{
              color: $main_color;
              font-size: 25px;
              margin-bottom: 20px;
            }
            display: flex;
            flex-direction: column;
            align-items: center;
            .mcpbt_text{
              display: flex;
              justify-content: space-between;
              width: 100%;
              padding: 0 10px 0 20px;
              .mcpbt_descript{
                width: 60%;
                font-weight: 600;
                ul{
                  list-style: none;
                  padding: 0;
                  margin: 0;
                  li::before{
                    content: "-";
                    color: #000;
                    margin-right: 5px;
                  }
                }
              }
              .mcpbt_price{
                display: flex;
                flex-direction: column;
                width: 40%;
                p{
                  font-weight: 600;
                }
                padding: 5px 10px;
                p.old_price{
                  align-self: center;
                  font-size: 12px;
                  color: #af0513;
                  text-decoration: line-through;
                }
                p.price{
                  align-self: flex-start;
                  font-size: 20px;
                  color: $main_color;
                  color: red;
                }
                p.price_title_off{
                  align-self: flex-end;
                  font-size: 12px;
                  color: $second_main_color;
                }
                p.price_title_on{
                  align-self: flex-end;
                  font-size: 14px;
                  color: $second_main_color;
                }
              }
            }
            .rating-area {
              overflow: hidden;
              width: auto;
              align-self: flex-start;
            }
            .rating-area:not(:checked) > input {
              display: none;
            }
            .rating-area:not(:checked) > label {
              float: right;
              width: 42px;
              padding: 0;
              cursor: pointer;
              font-size: 35px;
              line-height: 50px;
              color: lightgrey;
              text-shadow: 1px 1px #bbb;
            }
            .rating-area:not(:checked) > label:before {
              content: '★';
            }
            .rating-area > input:checked ~ label {
              color: gold;
              text-shadow: 1px 1px #c60;
            }
            .rating-area:not(:checked) > label:hover,
            .rating-area:not(:checked) > label:hover ~ label {
              color: gold;
            }
            .rating-area > input:checked + label:hover,
            .rating-area > input:checked + label:hover ~ label,
            .rating-area > input:checked ~ label:hover,
            .rating-area > input:checked ~ label:hover ~ label,
            .rating-area > label:hover ~ input:checked ~ label {
              color: gold;
              text-shadow: 1px 1px goldenrod;
            }
            .rate-area > label:active {
              position: relative;
            }
            .rating-result {
              width: auto;
              align-self: flex-start;
            }
            .rating-result span {
              padding: 0;
              font-size: 40px;
              line-height: 1;
              color: lightgrey;
              text-shadow: 1px 1px #bbb;
            }
            .rating-result > span:before {
              content: '★';
            }
            .rating-result > span.active {
              color: gold;
              text-shadow: 1px 1px #c60;
            }
            .mcp_box_btn{
              display: flex;
              justify-content: space-between;
              align-items: center;
              width: 100%;
              a{
                color: $main_color;
                text-decoration: underline;
                font-size: 20px;
              }
              form{
                button{
                  color: #fff;
                  background: #f68f30;
                  border: none;
                  border-radius: 30px;
                  padding: 8px 15px;
                  transition: 0.3s;
                  border: 1px solid #f68f30;
                }
                button:hover{
                  cursor: pointer;
                  color: #f68f30;
                  background: #fff;
                  border: 1px solid #f68f30;;
                }
              }
            }
            .mcpbt_stock{
              position: absolute;
              display: flex;
              align-items: center;
              justify-content: center;
              top: -15px;
              left: -15px;
              width: 80px;
              height: 80px;
              background: red;
              border-radius: 50%;
              p{
                font-size: 20px;
                color: #fff;
              }
            }
          }
          
        }
      }
      .next_page{
        margin: 20px 0 0;
        text-align: center;
        a{
          font-size: 18px;
          font-weight: 700;
          color: $second_main_color;
        }
        a:hover{
          color: $color;
        }
      }
    }
    .warranty_content{
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0 10%;
      p{
        color: $second_main_color;
        font-size: 42px;
      }
      .wc_garant{
        display: flex;
        flex-direction: column;
        margin-bottom: 50px;
        .wcg_1, .wcg_2, .wcg_3{
          display: flex;
          align-items: center;
          margin-bottom: 40px;
        }
        img{
          width: 180px;
          object-fit: scale-down;
          margin-right: 30px;
        }
      }
    }
    .delivery_content{
      display: flex;
      flex-direction: column;
      align-items: center;
      .dc_box{
        background: $second_main_color;
        border-radius: 10px;
        padding: 15px;
        margin-bottom: 60px;
      }
      .dc_question{
        display: flex;
        align-items: center;
        border: 2px solid $main_color;
        border-radius: 30px;
        height: 70px;
        width: 100%;
        margin: 60px;
        .dcq_box{
          width: 33%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          p{
            color: #000;
          }
        }
        .dcq_box_line{
          border-left: 2px solid $main_color;
          border-right: 2px solid $main_color;
        }
      }
    }
    .contacts_content{
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 30px;
      .cc_box{
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 50px;
        .ccb_left{
          width: 50%;
          p{
            color: $main_color;
            font-size: 26px;
            font-weight: 600;
          }
          ul{
            list-style: none;
            li{
              color: $main_color;
              font-size: 26px;
            }
            li:before{
              content:  "—";
              position: relative;
              left:     -5px;
            }
          }
        }
      }
      a.cc_btn{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 26px;
        background: $second_main_color;
        border-radius: 30px;
        padding: 15px 20px;
        border: 1px solid $second_main_color;
        transition: 0.3s;
      }
      a.cc_btn:hover{
        background: #fff;
        color: $second_main_color;
      }
    }
    .personalArea_content{
      display: flex;
      flex-direction: column;
      width: 100%;
      margin-bottom: 100px;
      a{
        color: $main_color;
      }
      .pac_inf{
        display: flex;
        .paci_img{
          display: flex;
          flex-direction: column;
          width: 30%;
          margin-right: 100px;
          img{
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
          a{
            font-size: 18px;
          }
        }
        .paci_text{
          display: flex;
          flex-direction: column;
          color: #000;
          p{
            color: #000;
            span{
              font-weight: 700;
              color: #000;
              margin-right: 15px;
            }
          }
          a{
            margin-bottom: 20px;
          }
        }
      }
    }
    .myPurch_content{
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 50px 0;
      table{
        border:  2px solid $main_color;
        border-collapse: collapse;
        width: 100%;
        color: $main_color;
        tr{
          th{
            border:  2px solid $main_color;
            height: 60px;
            img{
              height: 100%;
              margin: 5px;
            }
            a{
              border: 1px solid $main_color;
              background: $main_color;
              padding: 8px 15px;
              border-radius: 30px;
              color: #fff;
              transition: 0.3s;
              font-size: 18px;
            }
            a:hover{
              color: $main_color;
              background: #fff;
            }
            .input-number {
              display: flex;
              align-items: center;
              justify-content: center;
              background: #FFFFFF;
              box-sizing: border-box;
              color: #424348;
              font-size: 25px;
              color: $main_color;
              text-align: center;
              width: 100%;
          }
          
          .input-number__input {
              color: $main_color;
              width: 15px;
              height: 32px;
              border: none;
              padding: 8px;
              text-align: center;
              font-size: 18px;
              font-weight: 600;
          }
          
          .input-number__minus,
          .input-number__plus {
              width: 24px;
              height: 24px;
              // display: flex;
              // justify-content: center;
              // align-items: center;
              line-height: 20px;
              cursor: pointer;
              user-select: none;
              border: 1px solid $main_color;
              border-radius: 30px;
              transition: 0.2s;
          }
          .input-number__minus:hover{
            background: $main_color;
            color: #fff;
          }
          .input-number__plus:hover{
            background: $main_color;
            color: #fff;
          }
          }
        }
      }
      .pc_deliver{
        display: flex;
        flex-direction: column;
        width: 90%;
        .pcd_box{
          display: flex;
          margin-top: 50px;
          .pcd_left{
            font-size: 18px;
            width: 40%;
            P{
              color: $main_color;
              margin-bottom: 20px;
              span{
                color: $main_color;
                font-weight: 700;
              }
            }
          }
          .pcd_right{
            position: relative;
            display: flex;
            flex-direction: column;
            width: 60%;
            p{
              color: $main_color;
            }
            form{
              height: 80px;
              span.dropdown-el {
                width: 12em;
                position: absolute;
                display: inline-block;
                margin-right: 1em;
                min-height: 2em;
                max-height:2em;
                overflow:hidden;
                top: 40px;
                left: 0;
                cursor: pointer;
                text-align: left;
                white-space: nowrap;
                color: #444;
                outline: none;
                border: .06em solid transparent;
                border-radius: 1em;
                background-color: mix($color,#fff,25%);
                z-index: 999;
                transition: $timing all ease-in-out;
                input:focus + label {
                  background: #def;
                }
                input {
                  width: 1px;
                  height: 1px;
                  display: inline-block;
                  position: absolute;
                  opacity: 0.01;
                }
                label {
                  border-top: .06em solid #d9d9d9;
                  display:block;
                  font-size: 18px;
                  height: 2.7em;
                  line-height: 2.7em;
                  padding-left: 1em;
                  padding-right: 3em;
                  cursor: pointer;
                  position: relative;
                  color: #000;
                  transition: $timing color ease-in-out;  
                  &:nth-child(2) {
                    margin-top: 2em;
                    border-top: .06em solid #d9d9d9;
                  }
                  &:hover{
                    background: $main_color;
                  }
                }
                input:checked + label {
                  display:block;
                  border-top: none;
                  position: absolute;
                  top: 0;
                  width: 100%;
                  &:nth-child(2) {
                    margin-top: 0;
                    position: relative;
                  }
                }
                
                &::after {
                  content:"";
                  position: absolute;
                  right: 0.8em;
                  top: 0.9em;
                  border: .3em solid $color;
                  border-color: $color transparent transparent transparent;
                  transition: .4s all ease-in-out;
                }
                &.expanded {
                  border: .06em solid $color;
                  background: #fff;
                  border-radius: .25em;
                  padding: 0;
                  box-shadow: rgba(0, 0, 0, 0.1) 3px 3px 5px 0px;
                  max-height:15em;
                  
                  label {
                    border-top: .06em solid #d9d9d9;
                    &:hover {
                      color:$color;
                    }
                  }
                  input:checked + label {
                    color:$color;
                  }
                  
                  &::after {
                    transform: rotate(-180deg);
                    top:.55em;
                  }
                }
              }
            }
            label{
              color: $main_color;
              font-size: 24px;
              margin-bottom: 10px;
            }
            input {
              &.inpAdress{
                width: 400px;
                font-size: 18px;
                height: 40px;
                border: 2px solid $main_color;
                padding-left: 10px;
                color: #000;
                border-radius: 30px;
              }
              &.inpAdress:focus{
                outline: none;
              }

            }
          }
        }
        .pcd_opt{
          display: flex;
          justify-content: space-between;
          width: 100%;
          margin-top: 40px;
          a{
            color: $main_color;
            font-size: 22px;
          }
          a:hover{
            text-decoration: underline;
          }
        }
        button{
          display: flex;
          justify-content: center;
          align-items: center;
          align-self: center;
          width: 300px;
          height: 60px;
          border: 2px solid $main_color;
          border-radius: 30px;
          background: $main_color;
          color: #fff;
          font-size: 26px;
          margin-top: 50px;
          transition: 0.3s;
        }
        button:hover{
          cursor: pointer;
          background: #fff;
          color: $main_color;
        }
      }
      .next_page{
        margin-top: 20px;
        a{
          color: $main_color;
        }
      }
    }
    .registration_content{
      display: flex;
      align-items: center;
      flex-direction: column;
      form{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 50px;
        input{
          border: 2px solid $main_color;
          color: #7a7a7a;
          font-size: 22px;
          width: 100%;
          margin-bottom: 20px;
          height: 40px;
          padding-left: 10px;
        }
        .inp_low{
          width: 40%;
          margin-right: 80px;
        }
        .reg_inf{
          background: $second_main_color;
          border-radius: 20px;
          padding: 10px 80px 30px 80px;
          p.reg_title{
            font-size: 38px;
            text-align: center;
          }
          p{
            color: #fff;
          }
        }
        .reg_check{
          display: flex;
          margin-top: 20px;
          input{
            width: 20px;
            height: 20px;
            margin-right: 10px;
          }
          label{
            color: $second_main_color;
          }
        }
        button{
          width: 400px;
          height: 60px;
          background: $second_main_color;
          border: 2px solid $second_main_color;
          border-radius: 30px;
          color: #fff;
          font-size: 38px;
          transition: 0.3s;
        }
        button:hover{
          cursor: pointer;
          background: #fff;
          color: $second_main_color;
        }
      }
    }
  }
}

footer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: $second_main_color;
  padding: 20px 40px;
  margin-top: 20px;
  .f_sn{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 32%;
    p{
      font-size: 22px;
    }
    .fsn_icons{
      display: flex;
      a{
        margin-right: 40px;
        margin-top: 20px;
      }
      a:last-child{
        margin-right: 0;
      }
    }
  }
  .line{
    border-right: 1px solid #fff;
    height: 90%;
    }
  .f_nav{
    width: 32%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .fn_nav{
      display: flex;
      flex-wrap: wrap;
      a{
        font-size: 18px;
        margin-right: 10px;
      }
      a:hover{
        text-decoration: underline;
      }
    }
    .fn_cop{
      text-align: center;
      margin-top: 10px;
      a{
        font-size: 18px;
      }
      a:hover{
        text-decoration: underline;
      }
    } 
  }
  .f_inf{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 32%;
    p{
      color: #fff;
      font-size: 18px;
      margin-bottom: 5px;
    }
    p:last-child{
      margin-bottom: 0;
    }
  }
}